<md-card>
    <md-card-title layout="row" layout-xs="column" layout-align="start center">
        <md-card-title-media>
            <div class="md-media-lg card-media">
                <img ng-src="https://www.gravatar.com/avatar/4327ede90ccad118a71ced1b343e53df?s=1024" class="md-avatar avatar-large" alt="My Picture" md-whiteframe="5" />
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <span class="md-headline">Aesa Kamar</span>
            <span class="md-subhead">Distrubuted Computing Consultant, Functional Programmer, Data Engineer</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>TODO: Blogs and Work Description, stay tuned!</p>
        <md-button class="md-raised md-primary" target="_blank" href="https://drive.google.com/open?id=0BwkMe7DRbc4vV05OUmJMbENJb00">Go To Resume</md-button>
    </md-card-content>
    <md-card-actions layout="row" layout-xs="column" layout-align="end center">
        <md-button class="link-button" target="_blank" href="https://github.com/AesaKamar" layout-align="center center">
            <md-tooltip md-direction="top">GitHub</md-tooltip>
            <i class="fa fa-2x fa-github" aria-hidden="true"></i>
        </md-button>
        <md-button class="link-button" target="_blank" href="https://www.linkedin.com/in/aesakamar/" layout-align="center center">
            <md-tooltip md-direction="top">LinkedIn</md-tooltip>
            <i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
        </md-button>
        <md-button class="link-button" target="_blank" href="mailto:Aesa.Kamar@gmail.com" layout-align="center center">
            <md-tooltip md-direction="top ">Email</md-tooltip>
            <i class="fa fa-2x fa-envelope " aria-hidden="true "></i>
        </md-button>
    </md-card-actions>
</md-card>