<md-card>
    <md-card-title>
        Blogs and Talks
    </md-card-title>
    <publication title="Understanding MergeSort Through Types (Part 1)" subtitle="" link="http://www.cakesolutions.net/teamblogs/understanding-mergesort-through-types" description="" image=""></publication>
    <publication title="Machine Learning for Pragmatists" subtitle="" link="https://www.meetup.com/gdgnyc/events/231372135/" description="" image=""></publication>
    <publication title="Synthetic Type Inference in JavaScript" subtitle="" link="https://blog.tallan.com/2017/03/02/synthetic-type-inference-in-javascript/" description="" image=""></publication>
    <publication title="EF6 vs. EFCore: Source Code Beauty" subtitle="" link="https://blog.tallan.com/2017/01/12/ef6-vs-efcore-source-code-beauty/" description="" image=""></publication>
</md-card>